/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #F1B2CE;
  --main-background-image: url(../images/cover-image-dark.png);
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --button-outline: 1px solid #FF0070;
  --accent-text-color: #000028;
  --section-title-color: #FF0070;
  --rec-visible: visible;
  --text-shadow: #FF0070;
  --button-hover: 1px solid rgba(255, 0, 112, 0.40);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
