/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --main-text-color: #F1B2CE;
  --main-background-image: url(../images/cover-image-dark.png);
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --button-color: #FF0070;
  --button-outline: 1px solid #FF0070;
  --section-title-color: #FF0070;
  --rec-visible: visible;
  --text-shadow: #FF0070;
  --button-hover: 1px solid rgba(255, 0, 112, 0.40);
}

